.card_img {
    width: 100%;
    height: 100%;
}

.card_img img{
    width: 100%;
    height: 100%;
}

.card {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background: #11a9efef;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card_details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card_button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
   }
   
   .text_body {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.2px black;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
   }
   
   /*Text*/
   .text_title {
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card_button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }