.contenedor {
  min-height: 100vh;
  background-image: url('../../fondos/FondoHome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #028eb2;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  -webkit-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.82);
  -moz-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.82);
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.82);
}

.h1 {
  margin-top: 15px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.4px black;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

.name_duration {
  width: 90%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.label {
  font-weight: 400;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.2px black;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

.input {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.input:active{ 
  transform: scale(0.95);
  }

.dificulty_season {
  width: 90%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.button {
  margin-top: 50px;
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  -webkit-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.82);
  -moz-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.82);
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.82);
  }        

  .button:active{ 
  transform: scale(0.95);
  }


.paises {
  margin-top: 50px;
  width: 80%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  }        

  .paises:active{ 
  transform: scale(0.95);
  }

.select {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  }        

  .select:active{ 
  transform: scale(0.95);
  }

